.example-container {
    height: calc(100vh - 200px);
    overflow: auto;
}
table {
    width: 100%;
}
th.mat-sort-header-sorted {
    color: #000;
}
.mat-column-select {
    overflow: initial;
}
.numberColumn-sm{
    width: 60px !important;
}
.numberColumn-md{
    width: 80px !important;
}
td.mat-column-actions {
    width: 85px;
    padding-right: 8px;
}
th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
}
.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}
.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
}
.box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.one {
    flex: 1 1 auto;
}
.two {
    flex: 1 1 auto;
}
